@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container mx-auto max-w-lg bg-white shadow-md rounded-lg p-6 mt-10">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">@ViewData["Title"]</h1>

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-600 mb-4" role="alert"></div>

        <div class="mb-4">
            <label asp-for="Input.Email" class="block text-gray-700 font-medium mb-2">Email</label>
            <input asp-for="Input.Email" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" placeholder="Digite seu email" />
            <span asp-validation-for="Input.Email" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.Password" class="block text-gray-700 font-medium mb-2">Senha</label>
            <input asp-for="Input.Password" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" placeholder="Digite sua senha" />
            <span asp-validation-for="Input.Password" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ConfirmPassword" class="block text-gray-700 font-medium mb-2">Confirme sua senha</label>
            <input asp-for="Input.ConfirmPassword" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" placeholder="Confirme sua senha" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ApplicationUser.FullName" class="block text-gray-700 font-medium mb-2">Nome Completo</label>
            <input asp-for="Input.ApplicationUser.FullName" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" placeholder="Digite seu nome completo" />
            <span asp-validation-for="Input.ApplicationUser.FullName" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ApplicationUser.BirthDate" class="block text-gray-700 font-medium mb-2">Data de Nascimento</label>
            <input asp-for="Input.ApplicationUser.BirthDate" type="date" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" />
            <span asp-validation-for="Input.ApplicationUser.BirthDate" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ApplicationUser.Mobile" class="block text-gray-700 font-medium mb-2">Celular</label>
            <input asp-for="Input.ApplicationUser.Mobile" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" placeholder="Digite seu número de celular" />
            <span asp-validation-for="Input.ApplicationUser.Mobile" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ApplicationUser.Address" class="block text-gray-700 font-medium mb-2">Endereço</label>
            <input asp-for="Input.ApplicationUser.Address" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" placeholder="Digite seu endereço" />
            <span asp-validation-for="Input.ApplicationUser.Address" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ApplicationUser.ProfilePictureFile" class="block text-gray-700 font-medium mb-2">Foto de Perfil</label>
            <input type="file" asp-for="Input.ApplicationUser.ProfilePictureFile" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-600 focus:outline-none" />
            <span asp-validation-for="Input.ApplicationUser.ProfilePictureFile" class="text-red-600 text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ApplicationUser.IsManager" class="block text-gray-700 font-medium mb-2">É Gerente?</label>
            <input asp-for="Input.ApplicationUser.IsManager" type="checkbox" class="w-5 h-5 focus:ring-2 focus:ring-blue-600 focus:outline-none" />
            <span asp-validation-for="Input.ApplicationUser.IsManager" class="text-red-600 text-sm"></span>
        </div>


        <button id="registerSubmit" type="submit" class="btn-primary w-full">
            Registre-se
        </button>
    </form>

    <div class="mt-6">
        <h3 class="text-xl font-semibold text-gray-800 text-center mb-4">Use outro serviço para registrar:</h3>
        <hr class="mb-4" />
        @if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="space-y-4">
                @foreach (var provider in Model.ExternalLogins!)
                {
                    <button type="submit" class="btn-primary w-full" name="provider" value="@provider.Name" title="Entrar com @provider.DisplayName">
                        @provider.DisplayName
                    </button>
                }
            </form>
        }
        else
        {
            <div class="text-center text-gray-600">
                <p>
                    Nenhum serviço de autenticação externa configurado. Veja este
                    <a href="https://go.microsoft.com/fwlink/?LinkID=532715" class="btn-link">artigo</a>
                    sobre como configurar esta aplicação ASP.NET para suportar login via serviços externos.
                </p>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
