@model SoftManager.Domain.Entities.UserTask

@{
    ViewData["Title"] = "Detalhes da Tarefa";
}

<h1 class="text-2xl font-bold text-gray-800 text-center mt-6">Detalhes da Tarefa</h1>
<hr class="mb-4" />

<div class="max-w-2xl mx-auto bg-white shadow-md rounded-lg p-6">
    <dl class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <dt class="text-gray-700 font-medium">Mensagem</dt>
            <dd class="text-gray-900">@Model.Message</dd>
        </div>
        <div>
            <dt class="text-gray-700 font-medium">Data Limite</dt>
            <dd class="text-gray-900">@Model.DueDate.ToString("dd/MM/yyyy")</dd>
        </div>
        <div>
            <dt class="text-gray-700 font-medium">Usuário</dt>
            <dd class="text-gray-900">@Model.ApplicationUser?.UserName</dd>
        </div>
        <div>
            <dt class="text-gray-700 font-medium">Concluído</dt>
            <dd class="text-gray-900">@((Model.IsCompleted) ? "Sim" : "Não")</dd>
        </div>
        <div>
            <dt class="text-gray-700 font-medium">Data de Conclusão</dt>
            <dd class="text-gray-900">
                @(Model.CompletionDate.HasValue ? Model.CompletionDate.Value.ToString("dd/MM/yyyy") : "N/A")
            </dd>
        </div>
    </dl>

    <div class="mt-6 flex justify-between">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
            Editar
        </a>
        <a asp-action="Index" class="text-gray-600 hover:text-gray-900">Voltar para a Lista</a>
    </div>
</div>
